<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To-do list</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div class="box" id="heading">
        <h1> <%= kindofday %> </h1>
    </div>

    <div class="box">
        <% for (let i=0; i<newPosts.length; i++) { %>
        <div class="item">
            <input type="checkbox">
            <p> <%= newPosts [i] %> </p>
        </div>

        <% } %>
        <form action="/" method="POST" class="item">
            <input type="text" name="newPost" placeholder="New Item" autocomplete="off">
            <button type="submit" name="submit">+</button>
        </form>


    </div>






    <script src="" async defer></script>
</body>

</html>